<header class="dashboard-widget-header">
	<h2 class="dashboard-widget-heading">
		{{title}}
		{{#if count}}
			<sup class="dashboard-widget-count">{{count}}</sup>
		{{/if}}
	</h2>
</header>

{{yield}}