<h2>{{title}}</h2>

<strong class="current-filter">{{filterName}}</strong>
<br>
<ul class="tasks">
	{{#each tasks as |task|}}
		<li class="task">
			{{task-item task=task}}
		</li>
	{{/each}}
</ul>

{{yield}}
