:root {
	--base-font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	--heading-font-family: "Montserrat";
	/* Colours */
	--text-colour: #FFFFFF;
	--accent-colour: #9E3CD7;
	--primary-colour: #48377b;
	--colour2: #59E800;
	--colour3: #006DFF;
	--colour4: #6246a3;
	--accent-colour3: #7CB3FD;
	--accent-colour2: #FD7FB6;
	--gradient1: linear-gradient(#DB50CD, var(--accent-colour2));
	--gradient2: linear-gradient(#3B9DFF, #304FFE);
	--gradient3: linear-gradient(#35305B, #5046CE);
}

body {
	font-family: var(--base-font-family);
	line-height: 1.4;
	margin: 0;
	background: linear-gradient(var(--primary-colour), #0f0f32);
	color: var(--text-colour);
}

.logo-text, .logo-icon {
	display: inline-block;
	vertical-align: middle;
}

.logo-link {
	display: block;
	text-decoration: none;
	color: inherit;
}
