.task-search {
	position: relative;
}

.task-search button[type=submit] {
	cursor: pointer;
	color: inherit;
	background: transparent;
	vertical-align: middle;
	display: inline-block;
	border: 0;
	padding: 0.5em;
	position: absolute;
	transform: translate(-3.25em, 0.25em);
}

.task-search-input {
	padding: 1em;
	border-radius: 3em;
	background: linear-gradient(90deg, #544e81, #635c96);
	border: none;
	transition: 0.5s ease padding;
	width: 65%;
	max-width: 35em;
	min-width: 9em;
}

.task-search-label {
	position: absolute;
	top: 0.5em;
	text-indent: 1em;
}

.task-search-label + .task-search-input:focus, .task-search.has-value .task-search-input {
	padding-top: 2.5em;
}

.user-container {
	display: flex;
	align-items: center;
	margin: 1em 0 0.5em 0;
	padding: var(--sidebar-padding);
}

.user-avatar {
	margin-right: 1em;
	margin-left: 0.3em;
	border-radius: 50%;
}

.user-role {
	display: block;
}
