:root {
	--banner-padding: 1em;
	--sidebar-min-width: 15rem;
	--banner-background: linear-gradient(90deg, #383265, var(--primary-colour));
	--sidebar-background: linear-gradient(#2b2b57, var(--primary-colour));
	--sidebar-padding: 0.5em 1.5em;
}

.logo {
	min-width: var(--sidebar-min-width);
	margin: 0;
}

[role=banner] {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--banner-padding);
	background: var(--banner-background);
	box-shadow: -1em 0 2.5em 0 #00000091;
}

[role=search] {
	flex: 1;
}

[role=menuitem] {
	cursor: pointer;
}

[role=menuitem] button {
	cursor: inherit;
	background: transparent;
	border: none;
	padding: 0;
	color: inherit;
}

.user-nav .nav-item {
	display: inline-block;
	opacity: 0.5;
	transition: 0.2s ease opacity;
	margin: 0 0.5em;
}

.user-nav .nav-item:hover {
	opacity: 1;
}

.user-nav .nav-item + .nav-item {
	margin-left: 1em;
}

.nav-items {
	padding: 0;
	margin: 0;
	list-style: none;
}

.sidebar .nav-item-link svg {
	border-radius: 50%;
	padding: 0.35em;
}

.sidebar .nav-item:nth-child(1) svg {
	background: linear-gradient(var(--accent-colour), #c340ff);
}

.sidebar .nav-item:nth-child(2) svg {
	background: linear-gradient(var(--colour4), #5b4ca1);
}

.sidebar .nav-item:nth-child(3) svg {
	background: linear-gradient(var(--colour3), #0054ad);
}


.sidebar .nav-item-link {
	padding: var(--sidebar-padding);
	display: flex;
	align-items: center;
}

svg ~ .nav-item-text {
	margin-left: 0.5em;
}
.nav-item-link {
	color: inherit;
	display: block;
	text-decoration: none;
}

input, textarea {
	background: transparent;
	border: 0.1em solid currentColor;
	color: inherit;
	box-shadow: none;
}

.content-container {
	display: flex;
	flex: 1;
	overflow-y: auto;
}

.sidebar {
	min-width: var(--sidebar-min-width);
	background: var(--sidebar-background);
	box-shadow: 0 2em 3.5em -2em #00000091;
	position: sticky;
	top: 0;
}

img {
	max-width: 100%;
}

.task-widgets {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
}

.visuallyhidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
}
