h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-font-family);
}

input, select, textarea, button {
	font-family: inherit;
}

input[type=email], input[type=text], textarea {
	padding: 0.4em 0.8em;
	box-sizing: border-box;
}

svg {
	fill: currentColor;
}

progress[value] {
	-webkit-appearance: none;
	appearance: none;
}

progress[value]::-webkit-progress-bar {
	background-color: rgba(129, 138, 176, 0.64);
	border-radius: 1em;
	box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.25) inset;
	height: 0.5em;
}

progress[value]::-webkit-progress-value {
	background-color: var(--colour2);
	border-radius: inherit;
}

hr {
	background: rgba(172, 189, 231, 0.33);
	height: 2px;
	border: 0;
	margin: 0 0 1.5em 0;
}
